@import 'tailwindcss';

:root {
  /* Base colors for the light theme. */
  --background: 250 250 250;
  --foreground: 0 0 0;

  /* White */
  --white: 255 255 255;
  /* Blue */
  --primary: 24 32 239;
  /* Red */
  --secondary: 255 78 66;
  /* Yellow */
  --tertiary: 255 192 36;

  /* Content Size */
  --content-size: 1087px;
}

@theme inline {
  --color-white: rgb(var(--white));
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-tertiary: rgb(var(--tertiary));
  --font-m-plus-rounded-1cc: var(--font-m-plus-rounded-1c);
  --max-width-content: var(--content-size);
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-m-plus-rounded-1c);
}
