@import "tailwindcss";

:root {
  /* Cores base para o tema claro (light) */
  /* Branco */
  --background: 250 250 250;
  /* Preto */
  --foreground: 0 0 0;
  /* Azul */
  --primary: 24 32 239;
  /* Vermelho */
  --secondary: 255 78 66;
  /* Amarelo */
  --tertiary: 255 192 36;

  --content-size: 1087px;
}

@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-primary: rgb(var(--primary) / <alpha-value>);
  --color-secondary: rgb(var(--secondary) / <alpha-value>);
  --color-tertiary: rgb(var(--tertiary) / <alpha-value>);
  --font-m-plus-rounded-1cc: var(--font-m-plus-rounded-1c);
  --max-width-content: var(--content-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-m-plus-rounded-1c);
}